.a1 {
  fill: #2b244d;
  opacity: 1;
}

.b1 {
  fill: rgba(0, 0, 0, 0);
}

.b1, .c1 {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
}

.c1 {
  fill: none;
}

.d1 {
  fill: #fff;
  font-size: 15px;
  font-family: SegoeUI, Segoe UI, san-serif serif;
  letter-spacing: 0.4em;
}
