.cls-1 {
  fill: #a1ffd9;
}
.cls-2 {
  fill: #f5f5f5;
}
.cls-3 {
  fill: #c4d1fe;
}
.cls-6 {
  fill: #bffee6;
}
.cls-7 {
  fill: #31feae;
}
.cls-11 {
  fill: #7d9cff;
}
.cls-14 {
  fill: #5f84fb;
}
.cls-17,
.cls-19 {
  fill: none;
}
.cls-17 {
  stroke: #fff;
  stroke-width: 2px;
}
.cls-18 {
  fill: #606cb9;
}
.cls-19 {
  stroke: #a1ffd9;
  stroke-width: 3px;
}

.cls-299 {
  fill: #7effcc;
}
