.a {
  fill: #fdccb9;
}
.a,
.b {
  opacity: 0.14;
}
.b {
  fill: #ff4d00;
}
.c {
  fill: #f8f5ff;
}
.d {
  filter: url(#ci);
}
.e {
  filter: url(#cg);
}
.f {
  filter: url(#ce);
}
.g {
  filter: url(#cc);
}
.h {
  filter: url(#ca);
}
.i {
  filter: url(#by);
}
.j {
  filter: url(#bw);
}
.k {
  filter: url(#bu);
}
.l {
  filter: url(#bs);
}
.m {
  filter: url(#bq);
}
.n {
  filter: url(#bo);
}
.o {
  filter: url(#bm);
}
.p {
  filter: url(#bk);
}
.q {
  filter: url(#bi);
}
.r {
  filter: url(#bg);
}
.s {
  filter: url(#be);
}
.t {
  filter: url(#bc);
}
.u {
  filter: url(#ba);
}
.v {
  filter: url(#ay);
}
.w {
  filter: url(#aw);
}
.x {
  filter: url(#au);
}
.y {
  filter: url(#as);
}
.z {
  filter: url(#aq);
}
.aa {
  filter: url(#ao);
}
.ab {
  filter: url(#am);
}
.ac {
  filter: url(#ak);
}
.ad {
  filter: url(#ai);
}
.ae {
  filter: url(#ag);
}
.af {
  filter: url(#ae);
}
.ag {
  filter: url(#ac);
}
.ah {
  filter: url(#aa);
}
.ai {
  filter: url(#y);
}
.aj {
  filter: url(#w);
}
.ak {
  filter: url(#u);
}
.al {
  filter: url(#s);
}
.am {
  filter: url(#q);
}
.an {
  filter: url(#o);
}
.ao {
  filter: url(#m);
}
.ap {
  filter: url(#k);
}
.aq {
  filter: url(#i);
}
.ar {
  filter: url(#g);
}
.as {
  filter: url(#e);
}
.at {
  filter: url(#c);
}
.au {
  filter: url(#a);
}
